{
  "presets": [
    [
      "@babel/env",
      {
        "targets": {
          "node": "10.11.0"
        }
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-proposal-class-properties",
    "@babel/plugin-proposal-object-rest-spread"
  ]
}
